@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'MessinaSans';
	src: url('/fonts/MessinaSans-Regular.woff') format('woff');
}
* {
	font-family: 'MessinaSans', Sans-Serif;
}
