@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Messina Sans';
		font-weight: 400;
		src: url('/fonts/MessinaSans-Regular.woff') format('woff');
	}
	@font-face {
		font-family: 'Messina Sans';
		font-weight: 600;
		src: url('/fonts/MessinaSans-SemiBold.woff') format('woff');
	}
}

* {
	font-family: 'Messina Sans', sans-serif;
}

html,
body {
	margin: 0;
	height: 100%;
}
